<!DOCTYPE html>
<html lang="{{ currentSite.language }}">
{{ include('_layout/head.twig') }}
<body>
<div id="app">
  <main-menu></main-menu>
  {{ include('_layout/header/header.twig') }}
  {% block content %}
  {% endblock %}
  {{ include('_layout/footer/footer.twig') }}
</div>
{{ include('_layout/foot/scripts.twig') }}
</body>
</html>
